<body>
<style>
    .space-under{
        padding-bottom: 10px;
        border-bottom: 1px;
    }
</style>


<div>
    <table style = "border-spacing: 2em;">
        <tr class = "space-under">
            <td><img src="../../../static/adFiles/Images/foto-about/Sophie.jpeg"
                     height="250" width="auto" border="1px"></td>
            <td><p>Hello, I am Sophie Hospel and I am a second year student at Bio-informatics.
            I worked on the database in this application to store our results</p></td>
        </tr>
        <tr class = "space-under">
            <td><img src="../../../static/adFiles/Images/foto-about/carleen.jpeg"
                     height="250" width="auto" border="1px"></td>
            <td><p>Hello, my name is Carleen Rossing and I am a Bio-informatics student at my second year.
            I did the textmining part of this application to find pubmed articles.</p></td>
        </tr>
        <tr>
            <td><img src="../../../static/adFiles/Images/foto-about/Lex.jpeg"
                     height="250" width="auto" border="1px"></td>
            <td><p>Hi, I am Lex Bosch and also a second year of Bio-informatics.
            I worked on the webdesign and visualisation of the results</p></td>
        </tr>
    </table>
</div>
</body>


