<body>
<style>
    .space-under{
        padding-bottom: 10px;
        border-bottom: 1px;
    }
</style>


<div>
    <table style = "border-spacing: 2em;">
        <tr class = "space-under">
            <td><img src="../../../static/adFiles/Images/foto-about/sophie-foto.jpg"
                     height="200" width="auto" border="1px"></td>
            <td><p>Hoi ik ben sophie</p></td>
        </tr>
        <tr class = "space-under">
            <td><img src="../../../static/adFiles/Images/foto-about/carlijn-foto.jpg"
                     height="200" width="auto" border="1px"></td>
            <td><p>Hoi ik ben carleen</p></td>
        </tr>
        <tr>
            <td><img src="../../../static/adFiles/Images/foto-about/lex-foto.jpg"
                     height="200" width="auto" border="1px"></td>
            <td><p>Hoi ik ben Lex</p></td>
        </tr>
    </table>
</div>
</body>


