<!DOCTYPE html>
<h1>Lorem Ipsum</h1>
            <h5 class="padding32">If you want to see a graph you need to fill in a session name. At this page
                you can find your previous and current results visualised in a graph.
                Every node is a specific term. The edges(lines between two nodes) represent
            the relation between two terms. If you click on an edge you can find the articles with those 2
            terms</h5>

            <p class="textGrey">The articles will be shown in a tabel with clickable links to the
                 articles on pubmed.</p>
</html>