<body>
<div class="content">
    <!-- input+submit+text -->
    <div>
        <div class="left-top" style="float:left;width:50%;">
            <h1>Lorem Ipsum</h1>
            <p>
                snelle uitleg :D
            </p>


            <!-- Input area for serach terms -->
            <div>
                {% include "extra_pages/graph_page/graph_main.html" %}
            </div>
        </div>

        <!-- nice new graph -->
        <div class="top-right" style="float:right;">
            <img src="{{ url_for('static', filename='adFiles/Images/grafiek.jpg') }}" height="200" width="200"/>
        </div>
    </div>
    <!-- table -->
    <table id="artTable" width="100%" style="text-align:left;">
        <tr>
            <th><p>Article name</p></th>
            <th><p>Publicasion date</p></th>
            <th><p>link</p></th>
        </tr>
        {% for data_row in articles_list %}
        <tr>
            <td><p><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{data_row['ID']}}">{{data_row["title"]}}</a></p></td>
            <td><p>{{data_row["year"]}}</p></td>
            <td><p>
                {% for author in data_row["Author"] %}
                {{author["fore"]}}. {{author["last"]}},
                {% endfor %}
            </p></td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
