
<nav>
<!-- Navbar -->
<div class="topSection">
    <div class="topBar redButton card leftAlign large">
        <a class="barItem button hideMedium hideLarge right paddingLarge hoverWhite large redButton"
           href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>
        <a href="#" class="barItem button paddingLarge white">Home</a>
        <a href="#" class="barItem button hideSmall paddingLarge hoverWhite">add</a>
        <a href="#" class="barItem button hideSmall paddingLarge hoverWhite">about the project</a>
        <a href="#" class="barItem button hideSmall paddingLarge hoverWhite">contact</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="barBlock white hide hideLarge hideMedium large">
        <a href="#" class="barItem button paddingLarge">home</a>
        <a href="#" class="barItem button paddingLarge">add</a>
        <a href="#" class="barItem button paddingLarge">about the project</a>
        <a href="#" class="barItem button paddingLarge">contact</a>
    </div>
</div>
</nav>
